main {
  margin: 10% auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  border: 1px solid #e5e5e5;
  padding: 0.5em;
  font-size: 1rem;
  height: 41px;
}

button {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1rem;
  padding: 0.5em;
  min-width: 4em;
  height: 43px;
}

button:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.FormStepHost__HostsList {
  list-style: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.FormStepHost__HostItem {
  padding: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.FormStepHost__HostItem:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.FormStepNDA__Signature {
  border: 1px solid #e5e5e5;
}

.FormStepName {
  display: flex;
}

.FormStepName input {
  height: calc(41px - 1em);
}

.FormStepName button {
  max-width: 6em;
}

.FormStepNDA__Buttons {
  display: flex;
  justify-content: flex-end;
}

.FormStepNDA__Buttons button {
  margin-left: 0.5em;
}

.Badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em 1em 1em;
  height: 3.5in;
  width: 5in;
  padding: 1.5em;
}

.Badge__AvatarContainer {
  display: flex;
  justify-content: center;
}

.Badge__Avatar {
  border-radius: 50%;
  width: 2in;
  height: 2in;
}

.Badge__Info {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Badge__InfoValue {
  text-align: right;
}
